.chatbox-container {
  width: 100%;
  font-family: 'Poppins';
  font-size: 14px;
  overflow: hidden;
  overflow-anchor: none;
  .chatbox-messages {
    width: 90%;
    height: 250px;
    max-width: 400px;
    margin: 10px auto;
    overflow-y: scroll;
    padding: 20px;
  }
  .chatbox-chat-bubble {
    display: inline-block;
    padding: 5px;
    border-radius: .4em;
    width: auto;
    margin: 2.5px;
    background-color: #0E6377;
    &.outgoing {
      background-color: #16829B;
      color: white;
    }
    &.incoming {
      background-color: #0E6377;
      color: white;
    }
  }
  .chatbox-chat-block-outgoing {
    text-align: right;
    color: white;
  }
  .chatbox-chat-block-incoming {
    text-align: left;
  }
  .chatbox-chat-avatar {
    max-height: 32px;
    border-radius: 50%;
  }
  .chatbox-chat-content {
    display: inline-block;
    max-width: 293px;
  }
  .outgoing {
    text-align: left;
    position: relative;
    right: 12px;
    bottom: 12px;
  }
  .incoming {
    text-align: left;
    position: relative;
    left: 12px;
    bottom: 12px;
  }
  .chatbox-input-container {
    position: relative;
    height: 90%;
    width: 100%;
    margin: auto;
    max-width: 400px;
    text-align: center;
  }
  .chatbox-chat-input {
    width: 100%;
    max-width: 380px;
    height: 70px;
    margin: 20px auto;
    border-radius: 5px;
    resize: none;
    font-family: 'Poppins';
    font-size: 14px;
  }
  .chatbox-submit {
    position: absolute;
    bottom: 30px;
    right: 11px;
    height: 18px;
    width: 20px;
    padding: 8px 7px 5px 5px;
    border-radius: 50%;
    color: white;
    background-color: $light-text;
    transition: ease-in-out background-color .2s;
    cursor: pointer;
    &:hover {
      background-color: $menu-bg-green;
    }
  }
  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }
}
