.auth-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: $Poppins;
  font-size: 1.4rem;
  color: $dark-text;
  .form-button {
    width: 100%;
  }
}
.form-file-input {
  position: absolute;
  top: -220px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  height: 200px;
  z-index: 1;
  cursor: pointer;
  &.behind {
    z-index: -1;
  }
}
.form-field {
  margin: 5px;
  width: 150px;
}

.form-text-input {
  width: 95%;
  max-width: 400px;
}

.form-button {
  margin-top: 10px;
}