.profile-page {
  text-align: center;
  .profile-display {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $Poppins;
    font-size: 1.4rem;
    color: $dark-text;
  }
  .cropper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .cropper-view-box {
      outline: none;
    }
    .cropper-line {
      visibility: hidden;
    }
    .cropper-point {
      visibility: hidden;
    };
  }

  .profile-field {
    margin-top: 5px;
    text-align: center;
  }

  .profile-toggle {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    width: 100%
  }

  .form-button {
    width: 100%;
  }

  .auth-form {
    .form-field {
      position: relative;
      top: 220px;
    }
  }
}

.avatar-img {
  border-radius: 50%;
  // margin-left: -20px;
  width: 200px;
  height: 200px;
}

.cropper-cover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: $white-bg;
  z-index: 1;
  background: radial-gradient(transparent 100px, $white-bg 100px);
  pointer-events: none;
}