.search-page {
  .search-form {
    width: 100%;
  }
  .search-input{ 
    margin-right: 15px;
    margin-bottom: 20px;
    width: 40%;
    max-width: 365px;
    height: 25px;
  }
  .search-button {
    max-width: 94px;
  }
}