@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-140rem);
  }

  100% {
      opacity: 1;
      transform: translateX(-50%);
  }
}

@keyframes moveOutLeft {
  0% {
      opacity: 1;
      transform: translateX(-50%);
  }

  100% {
      opacity: 0;
      transform: translateX(-140rem);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(140rem);
  }

  100% {
    opacity: 1;
      transform: translateX(-50%);
  }
}

@keyframes moveOutRight {
  0% {
      opacity: 1;
      transform: translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: translateX(140rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.left-enter {
  animation: moveInLeft .5s ease-in-out;
}

.left-exit {
  opacity: 0;
  animation: moveOutLeft .5s ease-in-out;
}

.left-exit-done {
  opacity: 0;
}

.right-enter {
  animation: moveInRight .5s ease-in-out;
}

.right-exit {
  opacity: 0;
  animation: moveOutRight .5s ease-in-out;
}

.right-exit-done {
  opacity: 0;
}

.fade-enter {
  animation: fadeIn .5s ease-in-out;
}

.fade-enter-active {
  animation: fadeIn .5s ease-in-out;
}

.fade-appear {
  animation: fadeIn .5s ease-in-out;
}

.fade-exit {
  animation: fadeOut .5s ease-in-out;
}

.fade-exit-done {
  opacity: 0;
}